In [1]:
import pandas as pd
x = pd.Series([34, 12, 23, 45])
print(x)
x.dtype

0    34
1    12
2    23
3    45
dtype: int64

dtype('int64')

In [2]:
import pandas as pd
data = {'month': ['Jan', 'Feb', 'Mar'],
        'temp': [-5, 2, 3],
         'below_zero': [True, False, False]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False

2.2 Skalenniveau und Datentypen (15 Min)

    Welches Skalenniveau besitzen die Variablen im obigen Beispiel?
    month = nominal
    temp = skaliert
    below_zero = ordinal
    
    Sind die Variablen stetig oder diskret?
    diskret: month, below_zero
    stetig= temp
    
    Was ist der Datentyp jeder einzelnen Spalte?
month         object
temp           int64
below_zero      bool

    Erweitere das Python-Dictionary und
        erstelle eine neue Zeile mit den Werten ('Apr', 5, False)
        erstelle eine neue Spalte year mit den Werten (2020, 2020, 2020, 2020)

In [6]:
df.dtypes

month         object
temp           int64
below_zero      bool
dtype: object

In [8]:
data1 = {'month': ['Jan', 'Feb', 'Mar', 'Apr'],
        'temp': [-5, 2, 3, 5],
         'below_zero': [True, False, False, False],
        'year' : [2020, 2020, 2020, 2020]}
df1 = pd.DataFrame(data1)
print(df1)

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020

In [9]:
dr = pd.read_csv("/home/anni/Desktop/2023-2024-Data-Librarian-AKC/Modul_3/data/Library_Usage_Small.csv")

In [10]:
import json

In [12]:
drj = dr.to_json

In [13]:
dr.to_json("output.json")

In [14]:
drjj = pd.read_json("/home/anni/Desktop/2023-2024-Data-Librarian-AKC/Modul_3/notebooks/output.json")

In [15]:
drjj.to_html("output2.html")

In [16]:
drh = pd.read_html("/home/anni/Desktop/2023-2024-Data-Librarian-AKC/Modul_3/notebooks/output2.html")

In [18]:
combined_df = pd.concat(drh, ignore_index=True)

In [19]:
combined_df.to_excel("output3.xlsx")

In [21]:
drc = pd.read_excel("/home/anni/Desktop/2023-2024-Data-Librarian-AKC/Modul_3/notebooks/output3.xlsx")

In [22]:
drc.to_csv("output_final.csv")

In [23]:
drc

,Unnamed: 0.1,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,0,0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,1,1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,2,2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,3,3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,4,4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
5,5,5,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
6,6,6,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
7,7,7,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
8,8,8,0,Adult,0,0,35 to 44 years,x,Main,NaN,NaN,z,Email,True,2019,False
9,9,9,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False

In [24]:
df = pd.read_csv("/home/anni/Desktop/2023-2024-Data-Librarian-AKC/Modul_3/data/Library_Usage.csv")
df.columns

/tmp/ipykernel_97373/277070260.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/home/anni/Desktop/2023-2024-Data-Librarian-AKC/Modul_3/data/Library_Usage.csv")

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

2.5 Fallstudie: Feature Engineering

'Membership Duration' = ('Circulation Active Year' - 'Year Patron Registered')*12 + 'Circulation Active Month'

In [25]:
pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)

0         2023.0
1         2023.0
2         2023.0
3         2023.0
4         2023.0
           ...
436285    2022.0
436286    2015.0
436287    2022.0
436288    2020.0
436289    2023.0
Name: Circulation Active Year, Length: 436290, dtype: float64

In [28]:
pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)

0        NaT
1        NaT
2        NaT
3        NaT
4        NaT
          ..
436285   NaT
436286   NaT
436287   NaT
436288   NaT
436289   NaT
Name: Circulation Active Month, Length: 436290, dtype: datetime64[ns]

In [29]:
df['Circulation Active Month'].dt.month

AttributeError: Can only use .dt accessor with datetimelike values