In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/home/anni/Schreibtisch/2023-2024-Data-Librarian-AKC/Modul_3/data/Library_Usage.csv")

/tmp/ipykernel_112683/3676822830.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/home/anni/Schreibtisch/2023-2024-Data-Librarian-AKC/Modul_3/data/Library_Usage.csv")

In [3]:
len(data)

436290

Wie viele Merkmale besitzt der Datensatz?
14

Wie groß ist die Stichprobengröße des Datensatzes?
436.290 (jeder Eintrag ein Nutzender)

Wer oder was sind die Merkmalsträger?
Aktive Nutzende nach Definition

Von wann bis wann wurden die Daten erhoben?
2003 - 2023

Wie lässt sich die Grundgesamtheit beschreiben? Handelt es sich um eine Vollerhebung?
Wenn Grundgesamtheit = alle Nutzenden, ist es keine Vollerhebung. Wenn nur die Kund:innen nach Defintion betrachtet werden, dann ja.


Welche Merkmale sind stetig? Welche diskret?
Alle anderen diskret, bis auf Total Checkouts und Total Renewals, die als quasi-stetig behandelt werden können.

Welchem Skalenniveau entsprechen die einzelnen Merkmale (Nominal-, Ordinal- oder Metrische Skala)?

Nominal: Patron Type Code, Patron Type Definition, Home Library Code, Home Library Definition, Circulation Active Month, Notice Preference Code, Notice Preference Definition, Provided Email Address, Within San Francisco County


Metrisch = Total Checkouts, Total Renewals, Circulation Active Year, Year Patron registered

Ordinal: Age Range,  Der Rest.


Enthält der Datensatz fehlende Werte?
ja (NaN Einträge)

Handelt es sich um Querschnitts-, Längsschnitss- oder Paneldaten?
Querschnitts


Filtere den Datensatz nach Kindern unter 10 Jahren. Wie viele Einträge erhältst Du? 32692

Gibt es Personen mit mehr als 20000 Ausleihen? ja

Wie viele Personen stammen aus dem Stadtteil (Richmond)? 20656

Wie viele Prozent der Beobachtungen haben eine Membership Duration von Null Monaten?

In [4]:
data.loc[data['Total Checkouts'] > 20000]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
51592,3,Senior,22934,583,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2003,False
74783,3,Senior,21890,16,75 years and over,x,Main,Jan,2023.0,z,Email,True,2005,False
95369,3,Senior,20411,2606,65 to 74 years,x,Main,Aug,2019.0,NaN,NaN,False,2003,False
95967,3,Senior,20351,902,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2004,False
192830,0,Adult,23706,384,45 to 54 years,c2,Chinatown,Jul,2023.0,NaN,NaN,False,2003,False
198191,0,Adult,37249,628,55 to 59 years,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
278966,0,Adult,33122,57,25 to 34 years,s7,Sunset,Jul,2023.0,z,Email,True,2010,False
354659,0,Adult,22187,5706,55 to 59 years,c2,Chinatown,Jul,2023.0,z,Email,True,2003,False
375195,0,Adult,45380,143,35 to 44 years,v3,Visitacion Valley,Dec,2020.0,NaN,NaN,False,2003,False

In [5]:
data.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [6]:
data['Age Range'].unique()

array([nan, '45 to 54 years', '55 to 59 years', '60 to 64 years',
       '25 to 34 years', '35 to 44 years', '20 to 24 years',
       '75 years and over', '10 to 19 years', '0 to 9 years',
       '65 to 74 years'], dtype=object)

In [7]:
age_filter = (data['Age Range'] == '0 to 9 years')

In [8]:
data.loc[age_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
39,1,Juvenile,108,108,0 to 9 years,o7,Ortega,Jul,2023.0,z,Email,True,2021,False
45,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,False
47,1,Juvenile,48,33,0 to 9 years,o7,Ortega,Jul,2021.0,z,Email,True,2018,False
60,1,Juvenile,0,0,0 to 9 years,g6,Golden Gate Valley,Jul,2022.0,z,Email,True,2022,False
86,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436151,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,NaN
436164,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,NaN
436176,1,Juvenile,7,21,0 to 9 years,x,Main,Jan,2020.0,z,Email,True,2019,NaN
436253,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,NaN,NaN,False,2023,NaN
436281,1,Juvenile,1,1,0 to 9 years,x,Main,Jul,2023.0,NaN,NaN,False,2023,NaN

In [9]:
data['Home Library Definition'].unique()

array(['Bayview', 'Excelsior', 'Noe Valley', 'Ocean View', 'Ortega',
       'West Portal', 'Main', 'Glen Park', 'Anza', 'Presidio', 'Portola',
       'North Beach', 'Golden Gate Valley', 'Richmond', 'Park', 'Marina',
       'Sunset', 'Potrero', 'Mission', 'Eureka Valley', 'Merced',
       'Chinatown', 'Mission Bay', 'Western Addition', 'Bernal',
       'Visitacion Valley', 'Parkside', 'Ingleside', 'Bookmobile', nan],
      dtype=object)

In [10]:
loc_filter = (data['Home Library Definition'] == 'Richmond')

In [11]:
data.loc[loc_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
42,10,Visitor,9,5,45 to 54 years,r3,Richmond,May,2023.0,z,Email,True,2023,False
53,0,Adult,838,382,55 to 59 years,r3,Richmond,Jun,2023.0,z,Email,True,2003,False
83,0,Adult,1,0,25 to 34 years,r3,Richmond,Jun,2023.0,z,Email,True,2017,False
118,4,Welcome,0,0,35 to 44 years,r3,Richmond,Feb,2020.0,z,Email,True,2020,False
163,10,Visitor,27,14,35 to 44 years,r3,Richmond,Apr,2023.0,z,Email,True,2023,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435822,16,Digital Access Card,0,0,35 to 44 years,r3,Richmond,Apr,2023.0,NaN,NaN,False,2023,NaN
435823,1,Juvenile,3,7,0 to 9 years,r3,Richmond,Jul,2023.0,NaN,NaN,False,2023,NaN
435824,4,Welcome,0,0,55 to 59 years,r3,Richmond,NaN,NaN,NaN,NaN,False,2019,NaN
435825,1,Juvenile,3,1,0 to 9 years,r3,Richmond,Apr,2023.0,NaN,NaN,False,2023,NaN
435826,3,Senior,0,0,75 years and over,r3,Richmond,NaN,NaN,NaN,NaN,False,2023,NaN

In [12]:
data.isna().sum()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dtype: int64

In [13]:
data['Age Range'].fillna("keine Angabe")

0              keine Angabe
1              keine Angabe
2            45 to 54 years
3              keine Angabe
4              keine Angabe
                ...
436285       35 to 44 years
436286       10 to 19 years
436287       60 to 64 years
436288       35 to 44 years
436289    75 years and over
Name: Age Range, Length: 436290, dtype: object

In [14]:
data.isna().sum()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dtype: int64

In [15]:
df = data.dropna()

In [16]:
df.isna().sum()

Patron Type Code                0
Patron Type Definition          0
Total Checkouts                 0
Total Renewals                  0
Age Range                       0
Home Library Code               0
Home Library Definition         0
Circulation Active Month        0
Circulation Active Year         0
Notice Preference Code          0
Notice Preference Definition    0
Provided Email Address          0
Year Patron Registered          0
Within San Francisco County     0
dtype: int64

In [17]:
df.to_csv("/home/anni/Schreibtisch/2023-2024-Data-Librarian-AKC/Modul_3/data/Library_Usage_Clean-final.csv")

In [18]:
len(df)

357838

In [19]:
len(data)

436290

In [20]:
a = 436290
b = 357838

result = a - b


print("Gedropte NaN-Frames:", result)

Gedropte NaN-Frames: 78452

'Membership Duration' = ('Circulation Active Year' - 'Year Patron Registered')*12 + 'Circulation Active Month'

In [21]:
df = pd.read_csv("/home/anni/Desktop/2023-2024-Data-Librarian-AKC/Modul_3/data/Library_Usage_Clean-final.csv")
df.columns

Index(['Unnamed: 0', 'Patron Type Code', 'Patron Type Definition',
       'Total Checkouts', 'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [22]:
df['Circulation Active Year'] = pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)
df['Circulation Active Year']

0         2023.0
1         2023.0
2         2023.0
3         2023.0
4         2023.0
           ...
357833    2023.0
357834    2023.0
357835    2019.0
357836    2022.0
357837    2023.0
Name: Circulation Active Year, Length: 357838, dtype: float64

In [23]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)
df['Circulation Active Month']

0        NaT
1        NaT
2        NaT
3        NaT
4        NaT
          ..
357833   NaT
357834   NaT
357835   NaT
357836   NaT
357837   NaT
Name: Circulation Active Month, Length: 357838, dtype: datetime64[ns]

In [24]:
df

,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,NaT,2023.0,z,Email,True,2011,False
1,5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,NaT,2023.0,z,Email,True,2003,False
2,6,5,Staff,774,218,55 to 59 years,x,Main,NaT,2023.0,z,Email,True,2003,False
3,7,5,Staff,508,330,45 to 54 years,x,Main,NaT,2023.0,z,Email,True,2005,False
4,9,5,Staff,110,41,45 to 54 years,x,Main,NaT,2023.0,z,Email,True,2016,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357833,435078,0,Adult,0,0,25 to 34 years,x,Main,NaT,2023.0,z,Email,True,2022,False
357834,435079,3,Senior,0,0,75 years and over,x,Main,NaT,2023.0,z,Email,True,2010,False
357835,435080,3,Senior,0,0,75 years and over,x,Main,NaT,2019.0,z,Email,True,2008,False
357836,435081,3,Senior,0,0,65 to 74 years,x,Main,NaT,2022.0,z,Email,True,2016,False
357837,435082,0,Adult,0,0,45 to 54 years,e7,Eureka Valley,NaT,2023.0,z,Email,True,2015,False

In [25]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month
df['Circulation Active Month']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
357833   NaN
357834   NaN
357835   NaN
357836   NaN
357837   NaN
Name: Circulation Active Month, Length: 357838, dtype: float64

In [26]:
df['Membership Duration'] = (
    df['Circulation Active Year'] - df['Year Patron Registered']
)*12 + df['Circulation Active Month']

In [27]:
df['Membership Duration'] = df['Membership Duration'].fillna(0)
df['Membership Duration']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
357833    0.0
357834    0.0
357835    0.0
357836    0.0
357837    0.0
Name: Membership Duration, Length: 357838, dtype: float64

In [28]:
df

,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,Membership Duration
0,2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,NaN,2023.0,z,Email,True,2011,False,0.0
1,5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,NaN,2023.0,z,Email,True,2003,False,0.0
2,6,5,Staff,774,218,55 to 59 years,x,Main,NaN,2023.0,z,Email,True,2003,False,0.0
3,7,5,Staff,508,330,45 to 54 years,x,Main,NaN,2023.0,z,Email,True,2005,False,0.0
4,9,5,Staff,110,41,45 to 54 years,x,Main,NaN,2023.0,z,Email,True,2016,False,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357833,435078,0,Adult,0,0,25 to 34 years,x,Main,NaN,2023.0,z,Email,True,2022,False,0.0
357834,435079,3,Senior,0,0,75 years and over,x,Main,NaN,2023.0,z,Email,True,2010,False,0.0
357835,435080,3,Senior,0,0,75 years and over,x,Main,NaN,2019.0,z,Email,True,2008,False,0.0
357836,435081,3,Senior,0,0,65 to 74 years,x,Main,NaN,2022.0,z,Email,True,2016,False,0.0
357837,435082,0,Adult,0,0,45 to 54 years,e7,Eureka Valley,NaN,2023.0,z,Email,True,2015,False,0.0

In [29]:
df['Membership Duration'].fillna(0)

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
357833    0.0
357834    0.0
357835    0.0
357836    0.0
357837    0.0
Name: Membership Duration, Length: 357838, dtype: float64

In [30]:
df

,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,Membership Duration
0,2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,NaN,2023.0,z,Email,True,2011,False,0.0
1,5,5,Staff,2635,4075,45 to 54 years,w2,West Portal,NaN,2023.0,z,Email,True,2003,False,0.0
2,6,5,Staff,774,218,55 to 59 years,x,Main,NaN,2023.0,z,Email,True,2003,False,0.0
3,7,5,Staff,508,330,45 to 54 years,x,Main,NaN,2023.0,z,Email,True,2005,False,0.0
4,9,5,Staff,110,41,45 to 54 years,x,Main,NaN,2023.0,z,Email,True,2016,False,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357833,435078,0,Adult,0,0,25 to 34 years,x,Main,NaN,2023.0,z,Email,True,2022,False,0.0
357834,435079,3,Senior,0,0,75 years and over,x,Main,NaN,2023.0,z,Email,True,2010,False,0.0
357835,435080,3,Senior,0,0,75 years and over,x,Main,NaN,2019.0,z,Email,True,2008,False,0.0
357836,435081,3,Senior,0,0,65 to 74 years,x,Main,NaN,2022.0,z,Email,True,2016,False,0.0
357837,435082,0,Adult,0,0,45 to 54 years,e7,Eureka Valley,NaN,2023.0,z,Email,True,2015,False,0.0

In [31]:
data = pd.read_csv("/home/anni/Desktop/2023-2024-Data-Librarian-AKC/Modul_3/data/Library_Usage.csv")

/tmp/ipykernel_112683/869307014.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/home/anni/Desktop/2023-2024-Data-Librarian-AKC/Modul_3/data/Library_Usage.csv")

In [32]:
data['Circulation Active Year'] = pd.to_numeric(
  data['Circulation Active Year'], errors='coerce'
)
data['Circulation Active Year']

0         2023.0
1         2023.0
2         2023.0
3         2023.0
4         2023.0
           ...
436285    2022.0
436286    2015.0
436287    2022.0
436288    2020.0
436289    2023.0
Name: Circulation Active Year, Length: 436290, dtype: float64

In [33]:
data['Circulation Active Month'] = pd.to_datetime(
    data['Circulation Active Month'],
    errors='coerce',
    format="%b"
)
data['Circulation Active Month']

0        1900-03-01
1        1900-06-01
2        1900-01-01
3        1900-07-01
4        1900-07-01
            ...
436285   1900-10-01
436286   1900-11-01
436287   1900-03-01
436288   1900-09-01
436289   1900-07-01
Name: Circulation Active Month, Length: 436290, dtype: datetime64[ns]

In [34]:
data['Circulation Active Month'] = data['Circulation Active Month'].dt.month
data['Circulation Active Month']

0          3.0
1          6.0
2          1.0
3          7.0
4          7.0
          ...
436285    10.0
436286    11.0
436287     3.0
436288     9.0
436289     7.0
Name: Circulation Active Month, Length: 436290, dtype: float64

In [35]:
data['Membership Duration'] = (
    data['Circulation Active Year'] - data['Year Patron Registered']
)*12 + data['Circulation Active Month']

In [36]:
data['Membership Duration'] = data['Membership Duration'].fillna(0)
data['Membership Duration']

0         243.0
1         246.0
2         145.0
3         247.0
4         247.0
          ...
436285     34.0
436286     59.0
436287      3.0
436288     21.0
436289    247.0
Name: Membership Duration, Length: 436290, dtype: float64