In [1]:
import pandas as pd
import json

In [2]:
data = pd.read_csv("/home/anni/Schreibtisch/2023-2024-Data-Librarian-AKC/Modul_3/data/Library_Usage.csv")

/tmp/ipykernel_98343/3676822830.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/home/anni/Schreibtisch/2023-2024-Data-Librarian-AKC/Modul_3/data/Library_Usage.csv")

In [3]:
data

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436285,0,Adult,2,6,35 to 44 years,yjj,Bookmobile,Oct,2022.0,z,Email,True,2020,NaN
436286,2,Teen,3,0,10 to 19 years,yjj,Bookmobile,Nov,2015.0,z,Email,True,2011,NaN
436287,0,Adult,6,0,60 to 64 years,ylw,Bookmobile,Mar,2022.0,z,Email,True,2022,NaN
436288,15,Teacher Card,4,0,35 to 44 years,ylw,Bookmobile,Sep,2020.0,z,Email,True,2019,NaN
436289,55,Retired Staff,309,101,75 years and over,ylw,Bookmobile,Jul,2023.0,z,Email,True,2003,NaN

In [8]:
data.info

<bound method DataFrame.info of         Patron Type Code Patron Type Definition  Total Checkouts  \
0                      5                  Staff               53
1                      5                  Staff              480
2                      5                  Staff               70
3                      5                  Staff             3934
4                      5                  Staff             1118
...                  ...                    ...              ...
436285                 0                  Adult                2
436286                 2                   Teen                3
436287                 0                  Adult                6
436288                15           Teacher Card                4
436289                55          Retired Staff              309

        Total Renewals          Age Range Home Library Code  \
0                   15                NaN                b2
1                  378                NaN                e9
2                   33     45 to 54 years                n4
3                 2140                NaN                o2
4                 1035                NaN                o7
...                ...                ...               ...
436285               6     35 to 44 years               yjj
436286               0     10 to 19 years               yjj
436287               0     60 to 64 years               ylw
436288               0     35 to 44 years               ylw
436289             101  75 years and over               ylw

       Home Library Definition Circulation Active Month  \
0                      Bayview                      Mar
1                    Excelsior                      Jun
2                   Noe Valley                      Jan
3                   Ocean View                      Jul
4                       Ortega                      Jul
...                        ...                      ...
436285              Bookmobile                      Oct
436286              Bookmobile                      Nov
436287              Bookmobile                      Mar
436288              Bookmobile                      Sep
436289              Bookmobile                      Jul

        Circulation Active Year Notice Preference Code  \
0                        2023.0                      z
1                        2023.0                      z
2                        2023.0                      z
3                        2023.0                      z
4                        2023.0                      z
...                         ...                    ...
436285                   2022.0                      z
436286                   2015.0                      z
436287                   2022.0                      z
436288                   2020.0                      z
436289                   2023.0                      z

       Notice Preference Definition  Provided Email Address  \
0                             Email                    True
1                             Email                    True
2                             Email                    True
3                             Email                    True
4                             Email                    True
...                             ...                     ...
436285                        Email                    True
436286                        Email                    True
436287                        Email                    True
436288                        Email                    True
436289                        Email                    True

        Year Patron Registered Within San Francisco County
0                         2003                       False
1                         2003                       False
2                         2011                       False
3                         2003                       False
4                         2003                       False
...                        ...                         ...
436285                    2020                         NaN
436286                    2011                         NaN
436287                    2022                         NaN
436288                    2019                         NaN
436289                    2003                         NaN

[436290 rows x 14 columns]>

In [9]:
data.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [10]:
len(data)

436290

2.1 Grundbegriffe (60 Min)

Beantworte und diskutiere die folgenden Fragen konkret für den in Einheit 1 heruntergeladenen San Francisco Library Usage Datensatz. Notiere Deine Ergebnisse in Stichpunkte.

    Wie viele Merkmale besitzt der Datensatz?
    14
    
    Wie groß ist die Stichprobengröße des Datensatzes?
    436.290 (jeder Eintrag ein Nutzender)
    
    Wer oder was sind die Merkmalsträger?
    Aktive Nutzende nach Definition
    
    Von wann bis wann wurden die Daten erhoben?
    2016 - 2023
    
    Wie lässt sich die Grundgesamtheit beschreiben? Handelt es sich um eine Vollerhebung?
    Grundgesamtheit = alle potenziell Nutzenden. Keine Vollerhebung
    
    
    Welche Merkmale sind stetig? Welche diskret?
    stetig: Age Range (ist aber gruppiert)
    
    Welchem Skalenniveau entsprechen die einzelnen Merkmale (Nominal-, Ordinal- oder Metrische Skala)?
    Patron Type Code, Patron Type Definition, Home Library Code, Home Library Definition, Circulation Active Month 	Circulation Active Year, Notice Preference Code, Notice Preference Definition, Provided Email Address, Year Patron Registered, Within San Francisco County = nominal
    Total Checkouts 	Total Renewals = metrisch
    
    
    
    Enthält der Datensatz fehlende Werte?
    ja (NaN Einträge)
    
    Handelt es sich um Querschnitts-, Längsschnitss- oder Paneldaten?
    Längsschnitt

2.6 Filtern (30 Min)

    Filtere den Datensatz nach Kindern unter 10 Jahren. Wie viele Einträge erhältst Du? 32692
    Gibt es Personen mit mehr als 20000 Ausleihen? ja
    Wie viele Personen stammen aus dem Stadtteil (Richmond)? 20656
    Wie viele Prozent der Beobachtungen haben eine Membership Duration von Null Monaten?

In [4]:
data.loc[data['Total Checkouts'] > 20000]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
51592,3,Senior,22934,583,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2003,False
74783,3,Senior,21890,16,75 years and over,x,Main,Jan,2023.0,z,Email,True,2005,False
95369,3,Senior,20411,2606,65 to 74 years,x,Main,Aug,2019.0,NaN,NaN,False,2003,False
95967,3,Senior,20351,902,65 to 74 years,x,Main,Jul,2023.0,NaN,NaN,False,2004,False
192830,0,Adult,23706,384,45 to 54 years,c2,Chinatown,Jul,2023.0,NaN,NaN,False,2003,False
198191,0,Adult,37249,628,55 to 59 years,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
278966,0,Adult,33122,57,25 to 34 years,s7,Sunset,Jul,2023.0,z,Email,True,2010,False
354659,0,Adult,22187,5706,55 to 59 years,c2,Chinatown,Jul,2023.0,z,Email,True,2003,False
375195,0,Adult,45380,143,35 to 44 years,v3,Visitacion Valley,Dec,2020.0,NaN,NaN,False,2003,False

In [6]:
print(['Patron Type Definition'])

['Patron Type Definition']

In [7]:
print(data.rows)

AttributeError: 'DataFrame' object has no attribute 'rows'

In [8]:
data.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Within San Francisco County'],
      dtype='object')

In [9]:
data['Patron Type Definition'].unique()

array(['Staff', 'Welcome', 'Visitor', 'Digital Access Card', 'Juvenile',
       'Senior', 'Adult', 'Teen', 'Retired Staff', 'Teacher Card',
       'At User Adult', 'At User Senior', 'At User Welcome',
       'At User Teen', 'Business', 'Library By Mail', 'At User Juvenile'],
      dtype=object)

row_filter = (data['Patron Type Definition'] == 'Juvenile')

In [17]:
row_filter

0         False
1         False
2         False
3         False
4         False
          ...
436285    False
436286    False
436287    False
436288    False
436289    False
Name: Patron Type Definition, Length: 436290, dtype: bool

In [18]:
len(row_filter)

436290

In [19]:
data.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
39,1,Juvenile,108,108,0 to 9 years,o7,Ortega,Jul,2023.0,z,Email,True,2021,False
45,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,False
46,1,Juvenile,2,0,10 to 19 years,x,Main,Oct,2019.0,z,Email,True,2019,False
47,1,Juvenile,48,33,0 to 9 years,o7,Ortega,Jul,2021.0,z,Email,True,2018,False
60,1,Juvenile,0,0,0 to 9 years,g6,Golden Gate Valley,Jul,2022.0,z,Email,True,2022,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436164,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,NaN
436176,1,Juvenile,7,21,0 to 9 years,x,Main,Jan,2020.0,z,Email,True,2019,NaN
436243,1,Juvenile,0,0,10 to 19 years,x,Main,NaN,NaN,NaN,NaN,False,2023,NaN
436253,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,NaN,NaN,False,2023,NaN
436281,1,Juvenile,1,1,0 to 9 years,x,Main,Jul,2023.0,NaN,NaN,False,2023,NaN

In [20]:
data['Age Range'].unique()

array([nan, '45 to 54 years', '55 to 59 years', '60 to 64 years',
       '25 to 34 years', '35 to 44 years', '20 to 24 years',
       '75 years and over', '10 to 19 years', '0 to 9 years',
       '65 to 74 years'], dtype=object)

In [21]:
age_filter = (data['Age Range'] == '0 to 9 years')

In [22]:
data.loc[age_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
39,1,Juvenile,108,108,0 to 9 years,o7,Ortega,Jul,2023.0,z,Email,True,2021,False
45,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,False
47,1,Juvenile,48,33,0 to 9 years,o7,Ortega,Jul,2021.0,z,Email,True,2018,False
60,1,Juvenile,0,0,0 to 9 years,g6,Golden Gate Valley,Jul,2022.0,z,Email,True,2022,False
86,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436151,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2021,NaN
436164,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,z,Email,True,2023,NaN
436176,1,Juvenile,7,21,0 to 9 years,x,Main,Jan,2020.0,z,Email,True,2019,NaN
436253,1,Juvenile,0,0,0 to 9 years,x,Main,NaN,NaN,NaN,NaN,False,2023,NaN
436281,1,Juvenile,1,1,0 to 9 years,x,Main,Jul,2023.0,NaN,NaN,False,2023,NaN

In [23]:
data['Home Library Definition'].unique()

array(['Bayview', 'Excelsior', 'Noe Valley', 'Ocean View', 'Ortega',
       'West Portal', 'Main', 'Glen Park', 'Anza', 'Presidio', 'Portola',
       'North Beach', 'Golden Gate Valley', 'Richmond', 'Park', 'Marina',
       'Sunset', 'Potrero', 'Mission', 'Eureka Valley', 'Merced',
       'Chinatown', 'Mission Bay', 'Western Addition', 'Bernal',
       'Visitacion Valley', 'Parkside', 'Ingleside', 'Bookmobile', nan],
      dtype=object)

In [24]:
loc_filter = (data['Home Library Definition'] == 'Richmond')

In [25]:
data.loc[loc_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
42,10,Visitor,9,5,45 to 54 years,r3,Richmond,May,2023.0,z,Email,True,2023,False
53,0,Adult,838,382,55 to 59 years,r3,Richmond,Jun,2023.0,z,Email,True,2003,False
83,0,Adult,1,0,25 to 34 years,r3,Richmond,Jun,2023.0,z,Email,True,2017,False
118,4,Welcome,0,0,35 to 44 years,r3,Richmond,Feb,2020.0,z,Email,True,2020,False
163,10,Visitor,27,14,35 to 44 years,r3,Richmond,Apr,2023.0,z,Email,True,2023,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435822,16,Digital Access Card,0,0,35 to 44 years,r3,Richmond,Apr,2023.0,NaN,NaN,False,2023,NaN
435823,1,Juvenile,3,7,0 to 9 years,r3,Richmond,Jul,2023.0,NaN,NaN,False,2023,NaN
435824,4,Welcome,0,0,55 to 59 years,r3,Richmond,NaN,NaN,NaN,NaN,False,2019,NaN
435825,1,Juvenile,3,1,0 to 9 years,r3,Richmond,Apr,2023.0,NaN,NaN,False,2023,NaN
435826,3,Senior,0,0,75 years and over,r3,Richmond,NaN,NaN,NaN,NaN,False,2023,NaN

In [26]:
data.isna().sum()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dtype: int64

In [29]:
data['Age Range'].fillna("keine Angabe")

0              keine Angabe
1              keine Angabe
2            45 to 54 years
3              keine Angabe
4              keine Angabe
                ...
436285       35 to 44 years
436286       10 to 19 years
436287       60 to 64 years
436288       35 to 44 years
436289    75 years and over
Name: Age Range, Length: 436290, dtype: object

In [30]:
data.isna().sum()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         912
Home Library Code                   2
Home Library Definition            30
Circulation Active Month        39513
Circulation Active Year         39513
Notice Preference Code          42989
Notice Preference Definition    42989
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County      1207
dtype: int64

In [31]:
df = data.dropna()

In [32]:
df.isna().sum()

Patron Type Code                0
Patron Type Definition          0
Total Checkouts                 0
Total Renewals                  0
Age Range                       0
Home Library Code               0
Home Library Definition         0
Circulation Active Month        0
Circulation Active Year         0
Notice Preference Code          0
Notice Preference Definition    0
Provided Email Address          0
Year Patron Registered          0
Within San Francisco County     0
dtype: int64

In [33]:
df.to_csv("/home/anni/Schreibtisch/2023-2024-Data-Librarian-AKC/Modul_3/data/Library_Usage_Clean.csv")

In [34]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [35]:
len(df)

357838

In [36]:
len(data)

436290

In [37]:
a = 436290
b = 357838

result = a - b


print("Gedropte NaN-Frames:", result)

Gedropte NaN-Frames: 78452

In [39]:
data.head(100)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,5,Staff,53,15,NaN,b2,Bayview,Mar,2023.0,z,Email,True,2003,False
1,5,Staff,480,378,NaN,e9,Excelsior,Jun,2023.0,z,Email,True,2003,False
2,5,Staff,70,33,45 to 54 years,n4,Noe Valley,Jan,2023.0,z,Email,True,2011,False
3,5,Staff,3934,2140,NaN,o2,Ocean View,Jul,2023.0,z,Email,True,2003,False
4,5,Staff,1118,1035,NaN,o7,Ortega,Jul,2023.0,z,Email,True,2003,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,10,Visitor,11,0,35 to 44 years,a5,Anza,Jun,2023.0,z,Email,True,2023,False
96,1,Juvenile,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,False
97,10,Visitor,0,0,75 years and over,p1,Park,Feb,2023.0,NaN,NaN,False,2022,False
98,0,Adult,111,113,45 to 54 years,p1,Park,Jul,2023.0,z,Email,True,2015,False
99,16,Digital Access Card,0,0,25 to 34 years,x,Main,Mar,2023.0,NaN,NaN,False,2023,False